DATABASE_URL="postgresql://postgres:[YOUR-PASSWORD]@db.fbcngvlwlwkkyejildhw.supabase.co:5432/postgres"
JWT_SECRET="[GENERATE_A_STRONG_SECRET]"
JWT_EXPIRES_IN="1d"
PORT=3000
HOST="127.0.0.1"
NODE_ENV="development"